USE [s15guest60]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/28/2015 11:36:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Person](
	[person_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](max) NULL,
	[last_name] [varchar](max) NULL,
	[address] [varchar](max) NULL,
	[city] [varchar](100) NULL,
	[zip] [varchar](50) NULL,
	[state] [varchar](100) NULL,
	[email] [nchar](255) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([person_id], [first_name], [last_name], [address], [city], [zip], [state], [email]) VALUES (1, N'"Amanda"', N'"Long"', N'"10 Napa Ct."', N'"Lebanon"', N'"97355"', N'"Oregon"', N'"ALong@gmail.com"                                                                                                                                                                                                                                              ')
INSERT [dbo].[Person] ([person_id], [first_name], [last_name], [address], [city], [zip], [state], [email]) VALUES (2, N'"Christian"', N'"Shan"', N'"1000 Bidweld Street"', N'"Haney"', N'"V2W 1W2"', N'"British Columbia"', N'"CShan@gmail.com"                                                                                                                                                                                                                                              ')
INSERT [dbo].[Person] ([person_id], [first_name], [last_name], [address], [city], [zip], [state], [email]) VALUES (3, N'"Troy"', N'"Sara"', N'"1002 N. Spoonwood Court"', N'"Hervey Bay"', N'"4655"', N'"Queensland"', N'"TSara@gmail.com"                                                                                                                                                                                                                                              ')
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
