USE [s15guest60]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 4/28/2015 11:36:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room](
	[room_id] [smallint] IDENTITY(1,1) NOT NULL,
	[room_name] [varchar](100) NOT NULL,
	[capacity] [smallint] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([room_id], [room_name], [capacity]) VALUES (1, N'JD 2201', 45)
SET IDENTITY_INSERT [dbo].[Room] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Room]    Script Date: 4/28/2015 11:36:34 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Room] ON [dbo].[Room]
(
	[room_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
